<p id="notice"><%= notice %></p>

<h1>Questionnaire Answers</h1>

<%= link_to new_user_questionnaire_path(user_id: current_user.id) do %>
  <%= content_tag(:i, '', :class => 'fa fa-plus fa-lg') %>
  New Questionnaire
<% end %>

<table>
  <thead>
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
  </thead>

  <tbody>
  <% @questionnaires.each do |questionnaire| %>
    <tr>
      <td><%= response.question.text %></td>
      <td><%= response.question.text %></td>
    </tr>
  <% end %>
  </tbody>
</table>
